/* child components (signup and login) css are here  */

.main {
  width: 100%;
  height: calc(100vh - 60px);
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ddd;
  overflow: hidden;
}
.formWrapper {
  background-color: #fff;
  width: 70%;
  height: 80%;
  padding: 50px;
  display: flex;
  border-radius: 10px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.left {
  padding: 20px 50px;
  flex: 6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.form {
  text-align: center;
}
.form > h2 {
  color: #333;
  font-weight: 600;
}
.buttons {
}
.buttons button {
  width: 100%;
}
.footer {
  margin: 20px 0px;
}
.footer span {
  color: #444;
  font-size: 19px;
}
.footer span a {
  color: blue;
}

.right {
  padding: 20px 50px;
  flex: 6 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.right h2 {
  font-weight: 600;
  color: #333;
}
.right p {
  text-align: center;
  color: #444;
  font-size: 20px;
}

/* Media Query */

@media screen and (max-width: 1600px) {
  .formWrapper {
    padding: 20px;
  }
  .left {
    padding: 20px;
  }
  .right {
    padding: 20px;
  }
}

@media screen and (max-width: 1400px) {
  .right {
    display: none;
  }
  .left {
    flex: 12;
    width: 100%;
    padding: 50px 100px;
  }
}
@media screen and (max-width: 992px) {
  .formWrapper {
    width: 75%;
  }
  .left {
    padding: 50px 80px;
  }
}
@media screen and (max-width: 768px) {
  .formWrapper {
    width: 80%;
  }
  .left {
    padding: 50px;
  }
}
@media screen and (max-width: 576px) {
  .main {
    background-image: none;
    background-color: #fff;
  }
  .formWrapper {
    width: 100%;
    height: 100%;
  }

  .left {
    padding: 20px;
  }
}
