.item {
    display: flex;
    border-bottom: 1px solid rgba(68, 68, 68, 0.342);
    padding: 20px 0px;
    gap: 10px;
}

.item > div {
    width: 100%;
    display: flex;
    justify-content: center;
}
.one {
    flex: 4;
}
.one > div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.one .iconWrapper {
    flex: 4;
}
.one .imgWrapper {
    flex: 8;
}

.two {
    flex: 8;
    gap: 10px;
}
.two .titleWrapper {
    flex: 4;
}
.two .price {
    flex: 1;
    text-align: center;
}

.item p {
    text-transform: capitalize;
    font-size: 18px;
}
.iconWrapper {
}
.iconWrapper button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    transition: 0.4s;
    cursor: pointer;
}

.imgWrapper {
}

.imgWrapper img {
    max-width: 100%;
}

/* Hover */

/* Media Query */

@media (max-width: 1200px) {
    .titleWrapper p {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 17px;
    }
}
@media (max-width: 768px) {
    .item .one {
        flex: 5;
    }
    .item .two {
        flex: 7;
        flex-direction: column;
        gap: 15px;
    }
    .titleWrapper {
        width: 100%;
        text-align: center;
    }
    .titleWrapper p {
        -webkit-line-clamp: 1;
        font-size: 16px;
    }
}

@media (max-width: 576px) {
    .item {
        flex-direction: column;
        margin-bottom: 40px;
    }

    .item .one .iconWrapper {
        justify-content: center;
    }
    .item .one .imgWrapper {
        justify-content: flex-start;
    }

    .titleWrapper {
        width: 100%;
        text-align: center;
    }
    .titleWrapper p {
        -webkit-line-clamp: 2;
    }
}
