.content {
    width: 100%;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.content h2 {
    font-size: 40px;
    font-weight: 600;
    color: #777;
    letter-spacing: 1px;
}
.content h4 {
    color: #333;
    font-size: 27px;
}

.content img {
    width: 100%;
}

/* Media Query */

@media (max-width: 992px) {
}
