.content {
    width: 100%;
    height: 100vh;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.content h2 {
    font-size: 40px;
    font-weight: 600;
    color: #777;
    letter-spacing: 1px;
    background-color: #fff;
    padding: 10px;
    border-radius: 2px;
}
.content h4 {
    color: #333;
    font-size: 27px;
    background-color: #fff;
    padding: 10px;
    border-radius: 2px;
}

.content img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -9;
}
